.image-box-1-1,
.image-box-2-1,
.image-box-1-2,
.image-box-4-3,
.image-box-16-9 {
  position: relative;
  width: 100%;
}

.image-box-1-1:before,
.image-box-2-1:before,
.image-box-1-2:before,
.image-box-4-3:before,
.image-box-16-9:before {
  content: '';
  display: block;
}

.image-box-1-1:before {
  padding-top: 100%;
}

.image-box-2-1:before {
  padding-top: 50%;
}

.image-box-1-2:before {
  padding-top: 200%;
}

.image-box-4-3:before {
  padding-top: 75%;
}

.image-box-16-9:before {
  padding-top: 56.25%;
}

.image-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
